{% extends "base.html" %}
{% load i18n %}
{% block head %}
    <style>
        h2.planned_conf { color: #0777A0; }
        table { border-collapse: collapse; } 
        th { color: #06515F; }
        td { border: 1px solid #0777A0; }
        tr.kicked { background-color: #fbb; }
        tr.muted { background-color: #bbb; }
        div.conference_block { -moz-border-radius: 5; padding: 2px; margin: 3px; border: 1px solid #0777A0; }
        div.unactive_conferences, div.unactive_conference { -moz-border-radius: 5; 
            padding: 5px; margin: 3px; background: #abf; }
        div.unactive_conference { margin: 3px; background: #fbb; }
        .toggle_sibling + div { display: none; }
        .toggle_sibling:after { content: " {% trans "click to toggle" %}"; font-size: 0.5em; }
        .untoggle { display: block; }
    </style>
    <script src="/bin/jquery-1.3.1.min.js"></script>
    <script>
        toggle_sibling = function(){
            $(this.nextSibling.nextSibling).toggle("slow");
        }
        $(document).ready(function(){
            $(".toggle_sibling").click(toggle_sibling);
        })
    </script>
{% endblock %}
{% block contents %}
    <h1>{% trans "Conferences" %}</h1>
    <a href="/confs/">{% trans "Renew" %}</a>
    {% for c in confs %}
    <h2 class="{% if c.2 %} planned_conf{% endif %}">
        {% trans "conference" %} {{ c.0 }}</h2>
    <div class="conference_block">
        <p><form method="GET">{{ c.2.conference }}{{ c.2.phone }}
            <input type="submit" value="{% trans "Invite phone"%}"/></form></p>
        <table>
            <tr>
                <th>{% trans "caller name" %}</th>
                <th>{% trans "caller number" %}</th>
                <th>{% trans "member id" %}</th>
                <th>{% trans "can hear" %}</th>
                <th>{% trans "can speak" %}</th>
                <th>{% trans "talking" %}</th>
                <th>{% trans "uuid" %}</th>
            </tr>
            {% for m in c.1 %}
            <tr class="{% if not m.uuid %}kicked{% endif %}{% if not m.flags.can_speak %} muted{% endif %}">
                <td>{{ m.caller_id_name }}</td>
                <td>{{ m.caller_id_number }}</td>
                <td>{{ m.id }}</td>
                <td>{{ m.flags.can_hear }}</td>
                <td>{{ m.flags.can_speak }}</td>
                <td>{{ m.flags.talking }}</td>
                <td>{{ m.uuid }}</td>
                <td>{{ m.member }}</td>
                <td><a href="/confs/{{ c.0 }}/kick/{{ m.id }}/">{% trans "kick" %}</a></td>
                <td><a href="/confs/{{ c.0 }}/mute/{{ m.id }}/">{% trans "mute" %}</a></td>
                <td><a href="/confs/{{ c.0 }}/unmute/{{ m.id }}/">{% trans "unmute" %}</a></td>
                {% if not m.uuid %}<td><a href="?conference={{ c.0 }}&phone={{ m.number }}">
                    {% trans "Reinvite" %}</a></td>{% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
    <h1 class="toggle_sibling">{% trans "Unactive conferences" %}</h1>
    <div class="unactive_conferences">
    {% for conf in object_list %}
    <div class="unactive_conference">
        <h2>{{ conf }} 
            <a href="{% url conference.views.list do="start" cnf=conf.id id=0 %}">{% trans "Start" %}</a>
        </h2>
        {% for phone in conf.participants.all %}
            {{ phone }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        <h3 class="toggle_sibling">{% trans "Update participants list" %}</h1>
        <div>
            <form method="POST" action="add/participants/{{ conf.id }}/">
                <div>{{ conf.participants_form.participants }}</div>
                <input type="submit" value="{% trans "Update" %}"/>
            </form>
            <a href="{% url conference.views.del_conf object_id=conf.id %}">{% trans "Delete conference" %}</a>
        </div>
    </div>
    {% endfor %}
    <div>
        <h2>{% trans "Create new conference" %}</h2>
        <form method="POST" action="add/">
            {{ addconf.as_p }}
            <input type="submit" value="{% trans "Create" %}"/>
        </form>
    </div>
    </div>
{% endblock %}
